﻿@model List<CategoryModel>


@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>
<a asp-controller="Category" asp-action="Create">Create</a>
<table>
    <tr>
        <th>Categories</th>
    </tr>
    @foreach (var category in Model)
    {
        <tr>
            <td>@category.Name</td>
        </tr>
    }
</table>

